<div id="<%= dom_id client_profile %>">
  <div class="mt-md">
    <strong>First name:</strong>
    <%= client_profile.first_name %>
  </div>

  <div class="mt-md">
    <strong>Last name:</strong>
    <%= client_profile.last_name %>
  </div>

  <div class="mt-md">
    <strong>Phone:</strong>
    <%= client_profile.phone %>
  </div>

  <div class="mt-md">
    <strong>Email:</strong>
    <%= @client_profile.client.email %>
  </div>

</div>
