<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
      <p style="color: green"><%= notice %></p>
        <div class="user-card">
            <div class="user-card-img">
              <img src="<%= image_path('img1.jpg') %>" alt="Sorry, smth went wrong(((">
            </div>
            <%= render @client_profile %>
        </div>
            <div class="mt-ls">
              <%= link_to "Edit this client profile", edit_client_profile_path, class: 'button button-yellow' %>
              <%= link_to "Show my orders", orders_path(client_profile_id: @client_profile.id), class: 'button button-yellow'%>  
              <%= link_to "Back to main page", root_path, class: 'button button-yellow' %>
            </div>
    </div>
      
</body>
</html>

