<%= form_with model: order do |form| %>

  <% if order.errors.any? %>
  <div style="color: red">
    <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

    <ul>
      <% order.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

  <p><%= form.label :status %></p>
  <p><%= form.number_field :status, class: 'form-text-field'%></p>

  <p  class="mt"><%= form.label :client %></p>
  <p><%= form.number_field :client, class: 'form-text-field' %></p>

  <p  class="mt"><%= form.label :comment %></p>
  <p><%= form.number_field :comment, class: 'form-text-field' %></p>

  <p class="mt"><%= form.label :employee %></p>
  <p><%= form.number_field :employee, class: 'form-text-field' %></p>

  <p class="mt"><%= form.label :urgency %></p>
  <p><%= form.number_field :urgency, class: 'form-text-field' %></p>

  <p class="mt"><%= form.label :date_order %></p>
  <p><%= form.datetime_field :date_order, class: 'form-text-field' %></p>

  <p class="mt"><%= form.label :service %></p>
  <p><%= form.number_field :service, class: 'form-text-field' %></p>

  <p class="mt"><%= form.label :price %> </p>
  <p><%= form.number_field :price, class: 'form-text-field' %> </p>

  <p class="mt"><%= form.submit "Save", class: 'button button-main' %></p> 
<% end %> 
