<%= form_with(model: order) do |form| %>
  <% if order.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
        <% order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if params[:employee_id].present? %>
    <% employee = EmployeeProfile.find(params[:employee_id]) %>
    <div class="field mt">
      <%= form.label :employee_profile_id, style: "display: block" %>
      <%= form.text_field :employee_profile_id, value: "#{employee.first_name} #{employee.last_name}", class: 'form-text-field', readonly: true %>
    </div>
  <% end %>

  <div class="field mt">
    <%= link_to 'Select Employee', employee_profiles_path, class: 'button button-yellow mr-sm' %>
  </div>

  <div class="field mt">
    <%= form.label :urgency_id, style: "display: block" %>
    <%= form.select :urgency_id, options_for_select(Urgency.all.map { |d| [d.title, d.id] }, prompt: 'Select urgency'), {}, class: 'form-text-field' %>
  </div>

  <div class="field mt">
    <%= form.label :date_order, style: "display: block" %>
    <%= form.datetime_field :date_order, class: 'form-text-field' %>
  </div>

  <div class="field mt">
    <%= form.label :service_type, style: "display: block" %>
    <%= form.select :service_type, options_for_select(Service.pluck(:service_type).uniq), { include_blank: "Select service type" }, { id: "service_type_select", class: "form-text-field"} %>
  </div>

  <div class="field mt">
    <%= form.label :service_id, style: "display: block" %>
    <%= form.select :service_id, options_for_select([]), { include_blank: "Select service" }, { id: "service_select", class: "form-text-field" } %>
  </div>

  <script>
  document.addEventListener("DOMContentLoaded", function() {
    var serviceTypeSelect = document.getElementById("service_type_select");
    var serviceSelect = document.getElementById("service_select");
    var serviceIdField = document.getElementById("order_service_id"); 

    var allServices = JSON.parse('<%= raw Service.all.to_json %>');

    serviceTypeSelect.addEventListener("change", function() {
      var serviceType = this.value;
      var filteredServices = allServices.filter(function(service) {
        return service.service_type === serviceType;
      });

      serviceSelect.innerHTML = "";

      filteredServices.forEach(function(service) {
        var option = new Option(service.title, service.id);
        serviceSelect.appendChild(option);
      });

      serviceIdField.value = "";
    });

    serviceSelect.addEventListener("change", function() {
      serviceIdField.value = this.value; 
    });
  });
</script>

  <div class="field mt">
    <%= form.label :comment_id, style: "display: block" %>
    <%= form.number_field :comment_id, class: 'form-text-field'  %>
  </div>

  <div class="field mt">
    <%= form.label :status_id, style: "display: block" %>
    <%= form.number_field :status_id, class: 'form-text-field'  %>
  </div>

  <div class="field mt">
    <%= form.label :price, style: "display: block" %>
    <%= form.number_field :price, class: 'form-text-field'  %>
  </div>

  <%= form.hidden_field :client_profile_id, value:current_client.id %>
  <%= form.hidden_field :employee_profile_id, value:params[:employee_id] %>

  <div class="field mt">
    <%= form.submit "Save", class: 'button button-main' %>
  </div>
<% end %>
