<div id="<%= dom_id order %>">
  <p>
    <strong>Order:</strong>
    <%= order.order_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= order.status %>
  </p>

  <p>
    <strong>Client:</strong>
    <%= order.client %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= order.comment %>
  </p>

  <p>
    <strong>Employee:</strong>
    <%= order.employee %>
  </p>

  <p>
    <strong>Urgency:</strong>
    <%= order.urgency %>
  </p>

  <p>
    <strong>Date order:</strong>
    <%= order.date_order %>
  </p>

  <p>
    <strong>Service:</strong>
    <%= order.service %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= order.price %>
  </p>

</div>
