<div class="mb-sm"> 
  <%= "#{order.client} #{order.status} #{order.urgency}" %>
</div>

<div class="text-sm question-footer">
    <div class="text-grey"> 
        <%= order.date_order %>
    </div>

    <div> 
        <%= link_to fa_icon('pencil'), edit_order_path(order), title: 'Edit order' %>
        <%= link_to fa_icon('star'), order_path(order), title: 'Show this order' %>
        <%= button_to fa_icon('trash-o'), order_path(order), method: :delete, title: 'Delete order'%>
    </div>
</div>
