<div id="<%= dom_id order %>">
  <p>
    <strong>Status:</strong>
    <%= order.status_id %>
  </p>

  <p>
    <strong>Client profile:</strong>
    <%= order.client_profile_id %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= order.comment_id %>
  </p>

  <p>
    <strong>Employee:</strong>
    <%= order.employee_id %>
  </p>

  <p>
    <strong>Urgency:</strong>
    <%= order.urgency_id %>
  </p>

  <p>
    <strong>Date order:</strong>
    <%= order.date_order %>
  </p>

  <p>
    <strong>Service:</strong>
    <%= order.service_id %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= order.price %>
  </p>

</div>
