<div class="mb-sm"> 
  <%= "#{employee.surname} #{employee.name} #{employee.patronymic}" %>
</div>

<div class="text-sm entity-footer">
    <div class="text-grey"> 
        <%= employee.email %>
    </div>

    <div> 
        <%= link_to fa_icon('pencil'), edit_employee_path(employee), title: 'Edit employee' %>
        <%= link_to fa_icon('star'), employee_path(employee), title: 'Show this employee' %>
        <%= button_to fa_icon('trash-o'), employee_path(employee), method: :delete, title: 'Delete employee'%>
    </div>
</div>

