<%= form_with model: employee do |form| %>

  <p><%= form.label :name, 'Your name' %></p>
  <p><%= form.text_field :name, class: 'form-text-field' %></p>

  <p  class="mt"><%= form.label :surname, 'Your surname' %></p>
  <p><%= form.text_field :surname, class: 'form-text-field' %></p>

  <p  class="mt"><%= form.label :patronymic, 'Your patronymic' %></p>
  <p><%= form.text_field :patronymic, class: 'form-text-field' %></p>

  <p class="mt"><%= form.label :email %></p>
  <p><%= form.text_field :email, class: 'form-text-field' %></p>

  <p class="mt"><%= form.label :phone %></p>
  <p><%= form.text_field :phone, class: 'form-text-field' %></p>

  <p class="mt"><%= form.label :login %></p>
  <p><%= form.text_field :login, class: 'form-text-field' %></p>

  <p class="mt"><%= form.label :password %></p>
  <p><%= form.password_field :password, class: 'form-text-field' %></p>

  <p class="mt"><%= form.label :date_registration, 'Date of registration' %> </p>
  <p><%= form.datetime_field :date_registration, class: 'form-text-field' %> </p>

  <p class="mt"><%= form.label :position, style: "display: block" %></p>
  <p><%= form.number_field :position, class: 'form-text-field' %></p>

  <p class="mt"><%= form.label :specialization, style: "display: block" %></p>
  <p><%= form.number_field :specialization, class: 'form-text-field' %></p>

  <p class="mt"><%= form.submit "Save", class: 'button button-main' %></p> 
<% end %> 
