<div class="mb-sm"> 
  <%= "#{client.surname} #{client.name} #{client.patronymic}" %>
</div>

<div class="text-sm entity-footer">
    <div class="text-grey"> 
        <%= client.email %>
    </div>

    <div> 
        <%= link_to fa_icon('pencil'), edit_client_path(client), title: 'Edit client' %>
        <%= link_to fa_icon('star'), client_path(client), title: 'Show this client' %>
        <%= button_to fa_icon('trash-o'), client_path(client), method: :delete, title: 'Delete client'%>
    </div>
</div>
