<div id="<%= dom_id client %>">
  <p>
    <strong>Client:</strong>
    <%= client.client_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= client.name %>
  </p>

  <p>
    <strong>Surname:</strong>
    <%= client.surname %>
  </p>

  <p>
    <strong>Patronymic:</strong>
    <%= client.patronymic %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= client.phone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= client.email %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= client.address %>
  </p>

  <p>
    <strong>Login:</strong>
    <%= client.login %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= client.password %>
  </p>

</div>
