<%= form_with model: address do |form| %>
  <% if address.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(address.errors.count, "error") %> prohibited this address from being saved:</h2>

      <ul>
        <% address.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p class="mt"><%= form.label :street %></p>
  <p><%= form.text_field :street, class: 'form-text-field' %></p>

  <p class="mt"><%= form.label :build %></p>
  <p><%= form.text_field :build, class: 'form-text-field' %></p>

  <p class="mt"><%= form.label :city %></p>
  <p><%= form.text_field :city, class: 'form-text-field' %></p>

  <p class="mt"><%= form.submit "Save", class: 'button button-main' %></p> 
<% end %> 

